.gadget-tabs-content-container {
  background: #fcfcfc;
  width: 50%;
  border-right: 1px solid #eee;
}
.gadget-tabs-container {
  z-index: 2;
}
#plotArea {
  background: #FFFFFF;
  position: absolute;
  right: 0;
  z-index: 1;
  top: 165px;
  width: 50%;
}
#codeArea .shiny-input-container {
  width: 100%;
}
#plotErrorOut {
  padding: 10px;
  color: red;
}
#plotError {
  margin-left: 15px;
}
